<header>
    <div id="div-header">
        <div class="img-header">
            <a href="/">
                <img class="img-cabeca" src="https://cdn-icons-png.flaticon.com/512/287/287226.png" alt="icone treinador pokemon">
            </a>
        </div>
        <div id="h1">
            <h1> Poke Treinadores </h1>
        </div>
        <nav>
            <ul>
                <a href="/">
                    <li>inicio</li>
                </a>
                <a href="/criar">
                    <li>criar</li>
                </a>
            </ul>
        </nav>
    </div>
</header>