<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <title>criar</title>
</head>
<body>
    <h1>criar</h1>
    <main>
        <form action="/criar" method="post">
            <legend>Criar treinador</legend>
            <fieldset>
            <input type="text" name="nome">
            <label for="nome"> Nome </label>
            </fieldset>

            <fieldset>
            <input type="url" name="img">
            <label for="img">Imagem</label>
            </fieldset>

            <fieldset>
                <input type="text" name="descricao">
                <label for="descricao"> Descrição </label>
            </fieldset>

            <div>
                <button type="submit"> enviar</button>
            </div>
        </form>
    </main>
</body>
</html>
